hr {
    height: 20px;
    width: 600px;
    line-height: 10px;
    color: white;
}
hr:hover {
    line-height: 100px;
    color: rgba(255,251,240,0.8);
}

.card {
    background-color: rgba(255,251,240,0.8);
    border-radius: 16px;
}
.card:hover {
    border-radius: 16px;
    box-shadow: 0 0 8px #fbffe3;
}

.copyright {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: rgba(0,0,10,0.5);
}